doctype html
html(lang="en")
    head
        title Vers20
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Vers 20')
        meta(name='author', content='John Kennedy')
        meta(name="keywords", content="Vers 20")
        link(rel="icon" href="/favicon.ico", type="image/x-icon")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800", rel="stylesheet")
        link(rel="stylesheet", type="text/css", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/icon/themify-icons/themify-icons.css")
        link(rel="stylesheet", type="text/css", href="/icon/icofont/css/icofont.css")
        link(rel="stylesheet", type="text/css", href="/css/style.css")