doctype html
html(lang="en-us" class="no-js")
    head
        title Vers20
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Vers 20')
        meta(name='author' content='John Kennedy')
        meta(name="keywords" content="Vers 20")
        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="/extra-page/css/style.css")
    body
        canvas(id="dotty")
        a(href="#" class="logo-link" title="back home")
            img(src="/images/logo.png" class="logo" alt="Company's logo")
        div(class="content")
            div(class="content-box")
                div(class="big-content")
                    div(class="list-square")
                        span(class="square")
                        span(class="square")
                        span(class="square")
                    div(class="list-line")
                        span(class="line")
                        span(class="line")
                        span(class="line")
                        span(class="line")
                        span(class="line")
                        span(class="line")
                    i(class="fa fa-search" aria-hidden="true")
                    div(class="clear")
                h1 Oops! Error 404 not found.

                p The page you were looking for doesn't exist.
                p We think the page may have moved.
        footer(class="light")
            ul
                li 
                    a(href="#") Support
                li 
                    a(href="#")
                        i(class="fa fa-facebook")
                li 
                    a(href="#")
                        i(class="fa fa-twitter")
        script(type="text/javascript", src="/extra-page/js/jquery.min.js")
        script(type="text/javascript", src="/extra-page/js/bootstrap.min.js")
        script(type="text/javascript", src="/extra-page/js/mozaic.js")

